---
/**
 * Homepage - Kustom Garment
 * EXACT migration from static clone - keeping all fonts, styles, colors the same
 * Static Clone: assets-source/kg-static-clone/kustomgarment.com/index.html
 * Elementor Page ID: 36
 */

import BaseLayout from '../layouts/BaseLayout.astro';

const metaTitle = 'Konveksi Custom Satuan Surabaya | Kustom Garment – Desain Bebas, Tanpa Minimal Order';
const metaDescription = 'Kustom Garment adalah konveksi custom satuan di Surabaya yang melayani pembuatan kaos, jaket, kemeja, dan seragam tanpa minimal order. Desain bebas, bahan premium, dan layanan cepat.';
const metaImage = '/images/hero/no-min-order-banner.webp';
---

<BaseLayout title={metaTitle} description={metaDescription} image={metaImage}>
  <main class="elementor-elementor-36 elementor-page-36">

    <!-- Section 1: Value Props (7886f0c) -->
    <section class="elementor-section elementor-top-section elementor-element elementor-element-7886f0c elementor-section-content-middle elementor-section-full_width elementor-hidden-mobile elementor-section-height-default elementor-section-height-default" data-id="7886f0c" data-element_type="section">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-fc36dec" data-id="fc36dec" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-3176f20 elementor-position-left elementor-vertical-align-middle elementor-view-default elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="3176f20" data-element_type="widget" data-widget_type="icon-box.default">
              <div class="elementor-widget-container">
                <div class="elementor-icon-box-wrapper">
                  <div class="elementor-icon-box-icon">
                    <span class="elementor-icon">
                      <svg aria-hidden="true" class="e-font-icon-svg e-fas-shipping-fast" viewBox="0 0 640 512" xmlns="http://www.w3.org/2000/svg"><path d="M624 352h-16V243.9c0-12.7-5.1-24.9-14.1-33.9L494 110.1c-9-9-21.2-14.1-33.9-14.1H416V48c0-26.5-21.5-48-48-48H112C85.5 0 64 21.5 64 48v48H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h272c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H40c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h208c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h208c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H64v128c0 53 43 96 96 96s96-43 96-96h128c0 53 43 96 96 96s96-43 96-96h48c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zM160 464c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm320 0c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-208H416V144h44.1l99.9 99.9V256z"></path></svg>
                    </span>
                  </div>
                  <div class="elementor-icon-box-content">
                    <h3 class="elementor-icon-box-title">
                      <span>Kualitas Premium</span>
                    </h3>
                    <p class="elementor-icon-box-description">Jaminan garansi kualitas premium dalam setiap pemesanan</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-dd12c3d" data-id="dd12c3d" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-63ae2f8 elementor-position-left elementor-vertical-align-middle elementor-view-default elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="63ae2f8" data-element_type="widget" data-widget_type="icon-box.default">
              <div class="elementor-widget-container">
                <div class="elementor-icon-box-wrapper">
                  <div class="elementor-icon-box-icon">
                    <span class="elementor-icon">
                      <svg aria-hidden="true" class="e-font-icon-svg e-fas-tshirt" viewBox="0 0 640 512" xmlns="http://www.w3.org/2000/svg"><path d="M631.2 96.5L436.5 0C416.4 27.8 371.9 47.2 320 47.2S223.6 27.8 203.5 0L8.8 96.5c-7.9 4-11.1 13.6-7.2 21.5l57.2 114.5c4 7.9 13.6 11.1 21.5 7.2l56.6-27.7c10.6-5.2 23 2.5 23 14.4V480c0 17.7 14.3 32 32 32h256c17.7 0 32-14.3 32-32V226.3c0-11.8 12.4-19.6 23-14.4l56.6 27.7c7.9 4 17.5.8 21.5-7.2L638.3 118c4-7.9.8-17.6-7.1-21.5z"></path></svg>
                    </span>
                  </div>
                  <div class="elementor-icon-box-content">
                    <h3 class="elementor-icon-box-title">
                      <span>Bikin Baju Gercep</span>
                    </h3>
                    <p class="elementor-icon-box-description">Dimanapun dan kapanpun nikmati kemudahan bikin baju secara mudah</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4ce4959" data-id="4ce4959" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-a6fa0d8 elementor-position-left elementor-vertical-align-middle elementor-view-default elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="a6fa0d8" data-element_type="widget" data-widget_type="icon-box.default">
              <div class="elementor-widget-container">
                <div class="elementor-icon-box-wrapper">
                  <div class="elementor-icon-box-icon">
                    <span class="elementor-icon">
                      <svg aria-hidden="true" class="e-font-icon-svg e-fas-headphones" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 32C114.52 32 0 146.496 0 288v48a32 32 0 0 0 17.689 28.622l14.383 7.191C34.083 431.903 83.421 480 144 480h24c13.255 0 24-10.745 24-24V280c0-13.255-10.745-24-24-24h-24c-31.342 0-59.671 12.879-80 33.627V288c0-105.869 86.131-192 192-192s192 86.131 192 192v1.627C427.671 268.879 399.342 256 368 256h-24c-13.255 0-24 10.745-24 24v176c0 13.255 10.745 24 24 24h24c60.579 0 109.917-48.098 111.928-108.187l14.382-7.191A32 32 0 0 0 512 336v-48c0-141.479-114.496-256-256-256z"></path></svg>
                    </span>
                  </div>
                  <div class="elementor-icon-box-content">
                    <h3 class="elementor-icon-box-title">
                      <span>Customer Support</span>
                    </h3>
                    <p class="elementor-icon-box-description">Team Customer Support kami akan siap membantu kebutuhan Anda</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 2: Hero Banner (459b258) -->
    <section class="elementor-section elementor-top-section elementor-element elementor-element-459b258 elementor-section-content-middle elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="459b258" data-element_type="section">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-844e112" data-id="844e112" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-e3c6708 elementor-widget elementor-widget-image" data-id="e3c6708" data-element_type="widget" data-widget_type="image.default">
              <div class="elementor-widget-container">
                <a href="https://wa.me/6285161202499?text=Saya%20dapat%20informasi%20No%20Minimum%20Order%20dari%20website%2E%20Mohon%20informasi%20lebih%20lengkap%20%26%20harga%20ya%2C%20ya%2E%20Terima%20kasih%2E">
                  <img loading="lazy" decoding="async" width="2000" height="766" src="/images/hero/no-min-order-banner.webp" class="attachment-full size-full" alt="No Minimum Order">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 3: Client Logo Slider (5a60ec4) -->
    <section class="elementor-section elementor-top-section elementor-element elementor-element-5a60ec4 elementor-section-content-middle elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="5a60ec4" data-element_type="section">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e986f96" data-id="e986f96" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
            <div class="elementor-element elementor-element-b1775e0 elementor-widget elementor-widget-image-carousel e-widget-swiper" data-id="b1775e0" data-element_type="widget">
              <div class="elementor-widget-container">
                <div class="elementor-image-carousel-wrapper swiper swiper-initialized swiper-horizontal swiper-pointer-events" role="region" aria-roledescription="carousel" aria-label="Image Carousel">
                  <div class="elementor-image-carousel swiper-wrapper">
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-6.png" alt="Klien 6"></figure></div>
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-2.png" alt="Klien 2"></figure></div>
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-1.png" alt="Klien 1"></figure></div>
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-5.png" alt="Klien 5"></figure></div>
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-3.png" alt="Klien 3"></figure></div>
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-11.png" alt="Klien 11"></figure></div>
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-9.png" alt="Klien 9"></figure></div>
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-7.png" alt="Klien 7"></figure></div>
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-8.png" alt="Klien 8"></figure></div>
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-10.png" alt="Klien 10"></figure></div>
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-4.png" alt="Klien 4"></figure></div>
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-12.png" alt="Klien 12"></figure></div>
                    <div class="swiper-slide" role="group"><figure class="swiper-slide-inner"><img decoding="async" class="swiper-slide-image" src="/images/clients/klien-13.png" alt="Klien 13"></figure></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 4: Category Cards - Pilihan Kategori (056c55f) -->
    <section class="elementor-section elementor-top-section elementor-element elementor-element-056c55f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="056c55f" data-element_type="section">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6671bdc" data-id="6671bdc" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <!-- Category Heading -->
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-65e313a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="65e313a" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-7292bb9" data-id="7292bb9" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-dc3c19a elementor-widget-tablet__width-inherit elementor-widget elementor-widget-heading" data-id="dc3c19a" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Pilihan Kategori</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- Category Grid -->
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-ac2f028 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ac2f028" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-8d325d2" data-id="8d325d2" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-2374940 elementor-widget elementor-widget-image" data-id="2374940" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <a href="/business/">
                          <img loading="lazy" decoding="async" width="400" height="521" src="/images/categories/business.webp" class="attachment-full size-full" alt="Business" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-e463a3e" data-id="e463a3e" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-d80a3ad elementor-widget elementor-widget-image" data-id="d80a3ad" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <a href="/community/">
                          <img loading="lazy" decoding="async" width="400" height="521" src="/images/categories/community.webp" class="attachment-full size-full" alt="Community" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-2629fd1" data-id="2629fd1" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-7bb14c5 elementor-widget elementor-widget-image" data-id="7bb14c5" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <a href="/campus/">
                          <img loading="lazy" decoding="async" width="400" height="521" src="/images/categories/campus.webp" class="attachment-full size-full" alt="Campus" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-fe5b975" data-id="fe5b975" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-127de98 elementor-widget elementor-widget-image" data-id="127de98" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <a href="/personal/">
                          <img loading="lazy" decoding="async" width="400" height="521" src="/images/categories/personal.webp" class="attachment-full size-full" alt="Personal" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- Category CTA Button -->
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-2f4f3c7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2f4f3c7" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-2f2b689" data-id="2f2b689" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-1410afa elementor-align-center elementor-widget elementor-widget-bdt-advanced-button" data-id="1410afa" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <div class="bdt-ep-button-wrapper">
                          <a href="/produk/" class="bdt-ep-button bdt-ep-button-effect-a bdt-ep-button-size-md">
                            <div class="bdt-ep-button-content-wrapper bdt-flex bdt-flex-middle bdt-flex-center" data-text="Selengkapnya">
                              <div class="bdt-ep-button-text">
                                <span class="avdbtn-text">Selengkapnya</span>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 5: Bulk Order - Pembelian Jumlah Besar (284739b) -->
    <section class="elementor-section elementor-top-section elementor-element elementor-element-284739b elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="284739b" data-element_type="section">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cd854fb" data-id="cd854fb" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-de3452a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="de3452a" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-55376ee" data-id="55376ee" data-element_type="column">
                  <div class="elementor-widget-wrap"></div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5150a22" data-id="5150a22" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-0e75b8a elementor-widget elementor-widget-heading" data-id="0e75b8a" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">Pembelian Jumlah Besar</h4>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-e7efac6 elementor-widget elementor-widget-text-editor" data-id="e7efac6" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <p>Nikmati penawaran spesial untuk pembelian dalam jumlah besar hanya di tempat kami. Dapatkan harga grosir, pelayanan prioritas, dan kemudahan proses transaksi untuk kebutuhan usaha maupun komunitas Anda.</p>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-edefeed elementor-align-center elementor-widget elementor-widget-bdt-advanced-button" data-id="edefeed" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <div class="bdt-ep-button-wrapper">
                          <a href="https://wa.me/6285161202499?text=Saya%20tertarik%20dengan%20penawaran%20pembelian%20jumlah%20besar.%20Mohon%20informasi%20lebih%20lanjut." class="bdt-ep-button bdt-ep-button-effect-a bdt-ep-button-size-md" target="_blank" rel="noopener noreferrer">
                            <div class="bdt-ep-button-content-wrapper bdt-flex bdt-flex-middle bdt-flex-center" data-text="Pesan Sekarang">
                              <div class="bdt-ep-button-text">
                                <span class="avdbtn-text">Pesan Sekarang</span>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-eb533ff" data-id="eb533ff" data-element_type="column">
                  <div class="elementor-widget-wrap"></div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 6: Benefits - 4 Benefit Cards (dcb3bfc) -->
    <section class="elementor-section elementor-top-section elementor-element elementor-element-dcb3bfc elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="dcb3bfc" data-element_type="section">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a0858a1" data-id="a0858a1" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-3d14488 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3d14488" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <!-- Benefit 1: Harga Bersahabat -->
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-ae620df" data-id="ae620df" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-c7df20a elementor-widget elementor-widget-image" data-id="c7df20a" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <img decoding="async" src="/images/benefits/harga-bersahabat.webp" alt="Harga Bersahabat" loading="lazy" />
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-58bac53 elementor-widget elementor-widget-heading" data-id="58bac53" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">Harga Bersahabat</h4>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-47f0036 elementor-widget elementor-widget-text-editor" data-id="47f0036" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <p>Dapatkan harga eksklusif dengan pembelian jumlah besar</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Benefit 2: Team Profesional -->
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-c0b9b62" data-id="c0b9b62" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-ed67bdc elementor-widget elementor-widget-image" data-id="ed67bdc" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <img decoding="async" src="/images/benefits/team-profesional.webp" alt="Team Profesional" loading="lazy" />
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-570450f elementor-widget elementor-widget-heading" data-id="570450f" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">Team Profesional</h4>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-1fbb774 elementor-widget elementor-widget-text-editor" data-id="1fbb774" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <p>Konsultasi langsung sesuai kebutuhan dengan team berpengalaman kami</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Benefit 3: Pick Up or Delivery -->
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-bb3495d" data-id="bb3495d" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-dff69e5 elementor-widget elementor-widget-image" data-id="dff69e5" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <img decoding="async" src="/images/benefits/pickup-delivery.webp" alt="Pick Up or Delivery" loading="lazy" />
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-16c824e elementor-widget elementor-widget-heading" data-id="16c824e" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">Pick Up or Delivery</h4>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-fef9226 elementor-widget elementor-widget-text-editor" data-id="fef9226" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <p>Opsi pengiriman atau pengambilan barang di lokasi</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Benefit 4: Invoice & Pajak -->
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-afbc85c" data-id="afbc85c" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-e501f3f elementor-widget elementor-widget-image" data-id="e501f3f" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <img decoding="async" src="/images/benefits/invoice-pajak.webp" alt="Invoice & Pajak" loading="lazy" />
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-403e801 elementor-widget elementor-widget-heading" data-id="403e801" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">Invoice & Pajak</h4>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-f4455ca elementor-widget elementor-widget-text-editor" data-id="f4455ca" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <p>Tersedia invoice dan faktur pajak</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 7: Portfolio Banner (07ac3ad) -->
    <section class="elementor-section elementor-top-section elementor-element elementor-element-07ac3ad elementor-section-content-middle elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="07ac3ad" data-element_type="section">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5802d12" data-id="5802d12" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-dbe25d0 elementor-widget elementor-widget-image" data-id="dbe25d0" data-element_type="widget">
              <div class="elementor-widget-container">
                <a href="https://portfolio.kustomgarment.com" target="_blank" rel="noopener noreferrer">
                  <img loading="lazy" decoding="async" width="2000" height="1000" src="/images/hero/bulk-order-hero.png" class="attachment-full size-full" alt="Portfolio Gallery" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 8: Video Portfolio - Favorit Kustomers (f3707b9) -->
    <section class="elementor-section elementor-top-section elementor-element elementor-element-f3707b9 elementor-section-content-middle elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="f3707b9" data-element_type="section">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-104d94f" data-id="104d94f" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <!-- Video Section Heading -->
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-8ff412d elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="8ff412d" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-91a9b61" data-id="91a9b61" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-8f305d2 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-heading" data-id="8f305d2" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Favorit Kustomers</h2>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-e2be318 elementor-widget elementor-widget-text-editor" data-id="e2be318" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <p>Berbagai model siap menginspirasi pilihan kustom</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- Videos Grid -->
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-5586985 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5586985" data-element_type="section">
              <div class="elementor-container elementor-column-gap-custom">
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-a6a810a" data-id="a6a810a" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-8bd058c elementor-widget elementor-widget-html" data-id="8bd058c" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <video autoplay muted loop playsinline preload="metadata" style="width: 100%; max-width: 360px; aspect-ratio: 9 / 16; object-fit: cover; border: none;">
                          <source src="/videos/tiktok-4.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-37b8a56" data-id="37b8a56" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-cef9d99 elementor-widget elementor-widget-html" data-id="cef9d99" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <video autoplay muted loop playsinline preload="metadata" style="width: 100%; max-width: 360px; aspect-ratio: 9 / 16; object-fit: cover; border: none;">
                          <source src="/videos/tiktok-3.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-566436c" data-id="566436c" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-9d80cfb elementor-widget elementor-widget-html" data-id="9d80cfb" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <video autoplay muted loop playsinline preload="metadata" style="width: 100%; max-width: 360px; aspect-ratio: 9 / 16; object-fit: cover; border: none;">
                          <source src="/videos/tiktok-2.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-645814a" data-id="645814a" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-95bbdd4 elementor-widget elementor-widget-html" data-id="95bbdd4" data-element_type="widget">
                      <div class="elementor-widget-container">
                        <video autoplay muted loop playsinline preload="metadata" style="width: 100%; max-width: 360px; aspect-ratio: 9 / 16; object-fit: cover; border: none;">
                          <source src="/videos/tiktok-1.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 9: Final CTA - Kustom Sekarang (358b1e6) -->
    <section class="elementor-section elementor-top-section elementor-element elementor-element-358b1e6 elementor-section-content-middle elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="358b1e6" data-element_type="section">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-79f1d38" data-id="79f1d38" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-036d36a elementor-widget-tablet__width-inherit elementor-widget elementor-widget-heading" data-id="036d36a" data-element_type="widget">
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">Kustom Sekarang</h2>
              </div>
            </div>
            <div class="elementor-element elementor-element-d13ed29 elementor-widget elementor-widget-text-editor" data-id="d13ed29" data-element_type="widget">
              <div class="elementor-widget-container">
                <p>Kami berkomitmen untuk kualitas terbaik!<br />Untuk informasi lebih lanjut tentang produk dan layanan custom kami,<br />jangan ragu untuk menghubungi tim kami&nbsp;kapan&nbsp;saja</p>
              </div>
            </div>
            <div class="elementor-element elementor-element-73a2b38 elementor-align-center elementor-widget elementor-widget-bdt-advanced-button" data-id="73a2b38" data-element_type="widget">
              <div class="elementor-widget-container">
                <div class="bdt-ep-button-wrapper">
                  <a href="https://wa.me/6285161202499?text=Saya%20ingin%20informasi%20lebih%20lanjut%20tentang%20produk%20dan%20layanan%20custom." class="bdt-ep-button bdt-ep-button-effect-a bdt-ep-button-size-md" target="_blank" rel="noopener noreferrer">
                    <div class="bdt-ep-button-content-wrapper bdt-flex bdt-flex-middle bdt-flex-center" data-text="Hubungi Kami">
                      <div class="bdt-ep-button-text">
                        <span class="avdbtn-text">Hubungi Kami</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
</BaseLayout>

<style>
  /* Load the exact Elementor styles */
  @import url('/styles/elementor-36.css');
</style>

<script>
  import Swiper from 'swiper';
  import 'swiper/css';

  // Initialize Swiper for client logo slider
  document.addEventListener('DOMContentLoaded', () => {
    const swiperContainer = document.querySelector('.elementor-image-carousel-wrapper');
    if (swiperContainer) {
      new Swiper(swiperContainer, {
        slidesPerView: 3,
        spaceBetween: 8,
        loop: true,
        autoplay: {
          delay: 2000,
          disableOnInteraction: false,
          pauseOnMouseEnter: true,
        },
        breakpoints: {
          768: {
            slidesPerView: 5,
            spaceBetween: 12,
          },
          1024: {
            slidesPerView: 8,
            spaceBetween: 20,
          },
        },
      });
    }
  });
</script>
